@import "tailwindcss";

body{ background: #000;}

/* home image section  */
.img-wrapper{ position:relative; background:url('./assets/images/netflix-banner.jpg') center/cover no-repeat;  min-height: 100vh; overflow: hidden;}
.img-wrapper::before { content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); z-index: 1; }

/* movie image */
.img-hover{   transition: transform 0.3s ease-in-out; cursor: pointer;}
.img-hover:hover{ transform: scale(1.1) ; }

/* netflix linear gradient   */
.netflix-linear{ background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);}

/*about section color */
.bg-about{background-color: #2d2d2d;}

/* text-color */
.txt-net{  color:#b3b3b3}